{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 5 Chrome versions"
      }
    }],
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}

