{
  "extends": "phaistos-networks",
  "rules": {
    "react/no-danger": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "google": true,
    "chrome": true
  }
}

